@page "/"

<AuthorizeView>

    <NotAuthorized>
        <p>Вы не авторизованы. Введите имя в поле выше и нажмите "Войти"</p>
    </NotAuthorized>

    <Authorized>
        <h3 class="card-title">Слова:</h3>

        <input class="form-control" type="text" @bind="words[0]" />
        <input class="form-control" type="text" @bind="words[1]" />
        <input class="form-control" type="text" @bind="words[2]" />
        <input class="form-control" type="text" @bind="words[3]" />
        <input class="form-control" type="text" @bind="words[4]" />

        <button class="btn btn-primary" @onclick="SaveWords">
            Сохранить
        </button>
    </Authorized>
</AuthorizeView>
