@page "/loginControl"
@inject HttpClient client
@inject NavigationManager navMan

@using System.Web;

    <AuthorizeView>
        <Authorized>
            <b>Привет, @context.User.Identity.Name!</b>
            <a class="ml-md-auto btn btn-primary" href="/logout?returnUrl=/" target="_top">Выйти</a>
        </Authorized>
        <NotAuthorized>
            <input type="text" placeholder="Введите имя" @bind="@username" @onkeyup="processEnter" />
            <a class="ml-md-auto btn btn-primary" role="button" type="submit" @onclick="login" target="_top">Войти</a>
            <a class="ml-md-auto btn btn-primary" role="button" type="submit" href="/login?username=@encode(@username)" target="_top">Войти</a>
        </NotAuthorized>
    </AuthorizeView>

@code {
    private string username = string.Empty;

    private string encode(string param) {
        return HttpUtility.UrlEncode(param);
    }

    private void processEnter(KeyboardEventArgs e) {
        if (e.Key == "Enter")
            login();
    }

    private void login() {
        navMan.NavigateTo($"login?username={HttpUtility.UrlEncode(username)}");
    }
}
